<p>
  <strong>Post:</strong>
  
  <%= image_tag("NaturePicture.jpg", :alt => "NaturePicture") %>

  <%= link_to 'Edit', edit_user_post_path(@user, @post) %> |
<%= link_to 'Back', user_posts_path(@user)%>
  
</p>

